Debug
/packages/
/CodeAtlasVSIX/bin
/CodeAtlasVSIX/obj
/CodeView/bin/
/CodeView/obj/
/doxyData/
/DoxygenDB/obj/
/DoxygenDB/bin/
/GraphLayout/GraphLayout/CommonDrawingUtilsForSamples/
/GraphLayout/GraphLayout/GraphControlSilverlight/
/GraphLayout/GraphLayout/graphs/
/GraphLayout/GraphLayout/libs/
/GraphLayout/GraphLayout/MsaglSharpkit/
/GraphLayout/GraphLayout/MsaglSilverlight/
/GraphLayout/GraphLayout/MsaglDrawingSilverlight/
/GraphLayout/GraphLayout/NuGet/
/GraphLayout/GraphLayout/packages/
/GraphLayout/GraphLayout/Samples/
/GraphLayout/GraphLayout/Test/
/GraphLayout/GraphLayout/TinyClickDemo/
/GraphLayout/GraphLayout/tools/

/doxyData_DoxygenDB/xml
/doxyData_DoxygenDB_CodeAtlasVSIX_CodeView/xml
/doxyData_CodeAtlasVSIX/xml
/doxyData_CodeAtlasVSIX_CodeView_DoxygenDB/xml
/GraphLayout/GraphLayout/MSAGL/bin/Release
/GraphLayout/GraphLayout/Drawing/bin/Release
/GraphLayout/GraphLayout/MSAGL/obj/Release
/CodeAtlasData
/CodeAtlasVSIX - Copy
CodeGraphData/
